body{
    background: rgb(10,5,101);
    background: linear-gradient(150deg, rgba(10,5,101,1) 0%, rgba(7,154,184,1) 100%);
    font-family: Arial;
}
.contenedor{
    height: 100vh;
    display: grid;
    grid-template-columns: repeat(12, [col-start] 1fr);
    /*grid-auto-rows: 80px;*/
    grid-auto-rows: auto;
    grid-gap: 30px;
    padding: 30px;
    box-sizing: border-box;
}

.boton{
    border-radius: 100px;
    border-color: grey;
    background-color: white;
    -moz-box-shadow: 14px 12px 4px -3px #000000;
    -webkit-box-shadow: 14px 12px 4px -3px #000000;
    box-shadow: 14px 12px 4px -3px #000000;
    font-size: 3rem;
}
.boton:hover{
    -moz-box-shadow: 7px 9px 4px -3px #000000;
    -webkit-box-shadow: 7px 9px 4px -3px #000000;
    box-shadow: 7px 9px 4px -3px #000000;
    cursor: pointer;
    background-color: #cacbca;
}
